ClinicSoft/Web References/ae.eclaimlink.dhpo/eRxValidateTransaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.eClaimLink.ae/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.eClaimLink.ae/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.eClaimLink.ae/">
      <s:element name="UploadERxRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="facilityLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="facilityPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clinicianLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clinicianPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadERxRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadERxRequestResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eRxReferenceNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorReport" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadERxAuthorization">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PayerLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PayerPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadERxAuthorizationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadERxAuthorizationResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorReport" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadTransactionFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadTransactionFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadTransactionFileResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNewTransactionsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlTransactions" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="direction" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="callerLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clinicianLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="eRxReferenceNo" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="transactionStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionFromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionToDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="minRecordCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxRecordCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SearchTransactionsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="foundTransactions" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTransactionDownloaded">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTransactionDownloadedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetTransactionDownloadedResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeteRxTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="eRxReferenceNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeteRxTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GeteRxTransactionResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlTransactions" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadERxRequestSoapIn">
    <wsdl:part name="parameters" element="tns:UploadERxRequest" />
  </wsdl:message>
  <wsdl:message name="UploadERxRequestSoapOut">
    <wsdl:part name="parameters" element="tns:UploadERxRequestResponse" />
  </wsdl:message>
  <wsdl:message name="UploadERxAuthorizationSoapIn">
    <wsdl:part name="parameters" element="tns:UploadERxAuthorization" />
  </wsdl:message>
  <wsdl:message name="UploadERxAuthorizationSoapOut">
    <wsdl:part name="parameters" element="tns:UploadERxAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadTransactionFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadTransactionFile" />
  </wsdl:message>
  <wsdl:message name="DownloadTransactionFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadTransactionFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewTransactions" />
  </wsdl:message>
  <wsdl:message name="GetNewTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchTransactions" />
  </wsdl:message>
  <wsdl:message name="SearchTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="SetTransactionDownloadedSoapIn">
    <wsdl:part name="parameters" element="tns:SetTransactionDownloaded" />
  </wsdl:message>
  <wsdl:message name="SetTransactionDownloadedSoapOut">
    <wsdl:part name="parameters" element="tns:SetTransactionDownloadedResponse" />
  </wsdl:message>
  <wsdl:message name="GeteRxTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:GeteRxTransaction" />
  </wsdl:message>
  <wsdl:message name="GeteRxTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:GeteRxTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="eRxValidateTransactionSoap">
    <wsdl:operation name="UploadERxRequest">
      <wsdl:input message="tns:UploadERxRequestSoapIn" />
      <wsdl:output message="tns:UploadERxRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadERxAuthorization">
      <wsdl:input message="tns:UploadERxAuthorizationSoapIn" />
      <wsdl:output message="tns:UploadERxAuthorizationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadTransactionFile">
      <wsdl:input message="tns:DownloadTransactionFileSoapIn" />
      <wsdl:output message="tns:DownloadTransactionFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewTransactions">
      <wsdl:input message="tns:GetNewTransactionsSoapIn" />
      <wsdl:output message="tns:GetNewTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTransactions">
      <wsdl:input message="tns:SearchTransactionsSoapIn" />
      <wsdl:output message="tns:SearchTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTransactionDownloaded">
      <wsdl:input message="tns:SetTransactionDownloadedSoapIn" />
      <wsdl:output message="tns:SetTransactionDownloadedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeteRxTransaction">
      <wsdl:input message="tns:GeteRxTransactionSoapIn" />
      <wsdl:output message="tns:GeteRxTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eRxValidateTransactionSoap" type="tns:eRxValidateTransactionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadERxRequest">
      <soap:operation soapAction="http://www.eClaimLink.ae/UploadERxRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadERxAuthorization">
      <soap:operation soapAction="http://www.eClaimLink.ae/UploadERxAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTransactionFile">
      <soap:operation soapAction="http://www.eClaimLink.ae/DownloadTransactionFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewTransactions">
      <soap:operation soapAction="http://www.eClaimLink.ae/GetNewTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTransactions">
      <soap:operation soapAction="http://www.eClaimLink.ae/SearchTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTransactionDownloaded">
      <soap:operation soapAction="http://www.eClaimLink.ae/SetTransactionDownloaded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeteRxTransaction">
      <soap:operation soapAction="http://www.eClaimLink.ae/GeteRxTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eRxValidateTransactionSoap12" type="tns:eRxValidateTransactionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadERxRequest">
      <soap12:operation soapAction="http://www.eClaimLink.ae/UploadERxRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadERxAuthorization">
      <soap12:operation soapAction="http://www.eClaimLink.ae/UploadERxAuthorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTransactionFile">
      <soap12:operation soapAction="http://www.eClaimLink.ae/DownloadTransactionFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewTransactions">
      <soap12:operation soapAction="http://www.eClaimLink.ae/GetNewTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTransactions">
      <soap12:operation soapAction="http://www.eClaimLink.ae/SearchTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTransactionDownloaded">
      <soap12:operation soapAction="http://www.eClaimLink.ae/SetTransactionDownloaded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeteRxTransaction">
      <soap12:operation soapAction="http://www.eClaimLink.ae/GeteRxTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eRxValidateTransaction">
    <wsdl:port name="eRxValidateTransactionSoap" binding="tns:eRxValidateTransactionSoap">
      <soap:address location="http://dhpo.eclaimlink.ae/eRxValidateTransaction.asmx" />
    </wsdl:port>
    <wsdl:port name="eRxValidateTransactionSoap12" binding="tns:eRxValidateTransactionSoap12">
      <soap12:address location="http://dhpo.eclaimlink.ae/eRxValidateTransaction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>