ClinicSoft/Web References/ae.gov.doh.shafafiya/webservices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="https://www.shafafiya.org/v2/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="https://www.shafafiya.org/v2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.shafafiya.org/v2/">
      <s:element name="UploadTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadTransactionResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorReport" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNewTransactionsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlTransactions" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadTransactionFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadTransactionFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadTransactionFileResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="direction" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="callerLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ePartner" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="transactionID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="transactionStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionFromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionToDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="minRecordCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxRecordCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SearchTransactionsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="foundTransactions" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTransactionDownloaded">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetTransactionDownloadedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetTransactionDownloadedResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrescriptions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrescriptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPrescriptionsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="prescription" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDRGToEClaim">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originalFileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="originalFileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="baseRate" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDRGToEClaimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDRGToEClaimResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="drgFileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="drgFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="auditFileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="reportFileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorReport" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForNewPriorAuthorizationTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForNewPriorAuthorizationTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckForNewPriorAuthorizationTransactionsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewPriorAuthorizationTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewPriorAuthorizationTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNewPriorAuthorizationTransactionsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="foundTransactions" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDRGDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlClaimInput" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DRGVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDRGDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDRGDetailsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlDRGDetails" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="auditFileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="reportFileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonInsuranceHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmiratesID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnifiedID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonInsuranceHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPersonInsuranceHistoryResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonInsuranceDetails" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClaimCountReconciliation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="transactionName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="Claim.Submission" />
                  <s:enumeration value="Prior.Request" />
                  <s:enumeration value="Prior.Authorization" />
                  <s:enumeration value="Remittance.Advice" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="transactionDate" type="s:string">
              <s:annotation>
                <s:documentation xml:lang="en">date format is DD/MM/YYYY</s:documentation>
              </s:annotation>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClaimCountReconciliationResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetClaimCountReconciliationResult" type="s:int" />
            <s:element name="errorMessage" type="s:string" />
            <s:element name="ClaimCountReconciliationReport">
              <s:complexType>
                <s:sequence>
                  <s:element maxOccurs="unbounded" name="ClaimCountReconciliationData">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="senderID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="receiverID" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="uploadCount" type="s:int" />
                        <s:element minOccurs="0" maxOccurs="1" name="downloadCount" type="s:int" />
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInsuranceContinuityCertificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderID" type="s:string" />
            <s:element name="Members">
              <s:complexType>
                <s:sequence>
                  <s:element maxOccurs="unbounded" name="Member">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="EmiratesIDNumber" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="UnifiedNumber" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="Status">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="New" />
                              <s:enumeration value="Restarted" />
                              <s:enumeration value="Renewed" />
                              <s:enumeration value="Corrected" />
                              <s:enumeration value="Corrected Date" />
                              <s:enumeration value="Updated EmiratesIDNumber" />
                              <s:enumeration value="Cancelled" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInsuranceContinuityCertificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetInsuranceContinuityCertificateResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FoundTransactions" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelInsuranceContinuityCertificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelInsuranceContinuityCertificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelInsuranceContinuityCertificateResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:UploadTransaction" />
  </wsdl:message>
  <wsdl:message name="UploadTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:UploadTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewTransactions" />
  </wsdl:message>
  <wsdl:message name="GetNewTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadTransactionFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadTransactionFile" />
  </wsdl:message>
  <wsdl:message name="DownloadTransactionFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadTransactionFileResponse" />
  </wsdl:message>
  <wsdl:message name="SearchTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchTransactions" />
  </wsdl:message>
  <wsdl:message name="SearchTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="SetTransactionDownloadedSoapIn">
    <wsdl:part name="parameters" element="tns:SetTransactionDownloaded" />
  </wsdl:message>
  <wsdl:message name="SetTransactionDownloadedSoapOut">
    <wsdl:part name="parameters" element="tns:SetTransactionDownloadedResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrescriptionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrescriptions" />
  </wsdl:message>
  <wsdl:message name="GetPrescriptionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="AddDRGToEClaimSoapIn">
    <wsdl:part name="parameters" element="tns:AddDRGToEClaim" />
  </wsdl:message>
  <wsdl:message name="AddDRGToEClaimSoapOut">
    <wsdl:part name="parameters" element="tns:AddDRGToEClaimResponse" />
  </wsdl:message>
  <wsdl:message name="CheckForNewPriorAuthorizationTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckForNewPriorAuthorizationTransactions" />
  </wsdl:message>
  <wsdl:message name="CheckForNewPriorAuthorizationTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckForNewPriorAuthorizationTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewPriorAuthorizationTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewPriorAuthorizationTransactions" />
  </wsdl:message>
  <wsdl:message name="GetNewPriorAuthorizationTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewPriorAuthorizationTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDRGDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDRGDetails" />
  </wsdl:message>
  <wsdl:message name="GetDRGDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDRGDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonInsuranceHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonInsuranceHistory" />
  </wsdl:message>
  <wsdl:message name="GetPersonInsuranceHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonInsuranceHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetClaimCountReconciliationSoapIn">
    <wsdl:part name="parameters" element="tns:GetClaimCountReconciliation" />
  </wsdl:message>
  <wsdl:message name="GetClaimCountReconciliationSoapOut">
    <wsdl:part name="parameters" element="tns:GetClaimCountReconciliationResponse" />
  </wsdl:message>
  <wsdl:message name="GetInsuranceContinuityCertificateSoapIn">
    <wsdl:part name="parameters" element="tns:GetInsuranceContinuityCertificate" />
  </wsdl:message>
  <wsdl:message name="GetInsuranceContinuityCertificateSoapOut">
    <wsdl:part name="parameters" element="tns:GetInsuranceContinuityCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="CancelInsuranceContinuityCertificateSoapIn">
    <wsdl:part name="parameters" element="tns:CancelInsuranceContinuityCertificate" />
  </wsdl:message>
  <wsdl:message name="CancelInsuranceContinuityCertificateSoapOut">
    <wsdl:part name="parameters" element="tns:CancelInsuranceContinuityCertificateResponse" />
  </wsdl:message>
  <wsdl:portType name="WebservicesSoap">
    <wsdl:operation name="UploadTransaction">
      <wsdl:input message="tns:UploadTransactionSoapIn" />
      <wsdl:output message="tns:UploadTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewTransactions">
      <wsdl:input message="tns:GetNewTransactionsSoapIn" />
      <wsdl:output message="tns:GetNewTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadTransactionFile">
      <wsdl:input message="tns:DownloadTransactionFileSoapIn" />
      <wsdl:output message="tns:DownloadTransactionFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTransactions">
      <wsdl:input message="tns:SearchTransactionsSoapIn" />
      <wsdl:output message="tns:SearchTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetTransactionDownloaded">
      <wsdl:input message="tns:SetTransactionDownloadedSoapIn" />
      <wsdl:output message="tns:SetTransactionDownloadedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrescriptions">
      <wsdl:input message="tns:GetPrescriptionsSoapIn" />
      <wsdl:output message="tns:GetPrescriptionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDRGToEClaim">
      <wsdl:input message="tns:AddDRGToEClaimSoapIn" />
      <wsdl:output message="tns:AddDRGToEClaimSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckForNewPriorAuthorizationTransactions">
      <wsdl:input message="tns:CheckForNewPriorAuthorizationTransactionsSoapIn" />
      <wsdl:output message="tns:CheckForNewPriorAuthorizationTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewPriorAuthorizationTransactions">
      <wsdl:input message="tns:GetNewPriorAuthorizationTransactionsSoapIn" />
      <wsdl:output message="tns:GetNewPriorAuthorizationTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDRGDetails">
      <wsdl:input message="tns:GetDRGDetailsSoapIn" />
      <wsdl:output message="tns:GetDRGDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonInsuranceHistory">
      <wsdl:input message="tns:GetPersonInsuranceHistorySoapIn" />
      <wsdl:output message="tns:GetPersonInsuranceHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimCountReconciliation">
      <wsdl:input message="tns:GetClaimCountReconciliationSoapIn" />
      <wsdl:output message="tns:GetClaimCountReconciliationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceContinuityCertificate">
      <wsdl:input message="tns:GetInsuranceContinuityCertificateSoapIn" />
      <wsdl:output message="tns:GetInsuranceContinuityCertificateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelInsuranceContinuityCertificate">
      <wsdl:input message="tns:CancelInsuranceContinuityCertificateSoapIn" />
      <wsdl:output message="tns:CancelInsuranceContinuityCertificateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebservicesSoap" type="tns:WebservicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadTransaction">
      <soap:operation soapAction="https://www.shafafiya.org/v2/UploadTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewTransactions">
      <soap:operation soapAction="https://www.shafafiya.org/v2/GetNewTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTransactionFile">
      <soap:operation soapAction="https://www.shafafiya.org/v2/DownloadTransactionFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTransactions">
      <soap:operation soapAction="https://www.shafafiya.org/v2/SearchTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTransactionDownloaded">
      <soap:operation soapAction="https://www.shafafiya.org/v2/SetTransactionDownloaded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrescriptions">
      <soap:operation soapAction="https://www.shafafiya.org/v2/GetPrescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDRGToEClaim">
      <soap:operation soapAction="https://www.shafafiya.org/v2/AddDRGToEClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckForNewPriorAuthorizationTransactions">
      <soap:operation soapAction="https://www.shafafiya.org/v2/CheckForNewPriorAuthorizationTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewPriorAuthorizationTransactions">
      <soap:operation soapAction="https://www.shafafiya.org/v2/GetNewPriorAuthorizationTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDRGDetails">
      <soap:operation soapAction="https://www.shafafiya.org/v2/GetDRGDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonInsuranceHistory">
      <soap:operation soapAction="https://www.shafafiya.org/v2/GetPersonInsuranceHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimCountReconciliation">
      <soap:operation soapAction="https://www.shafafiya.org/v2/GetClaimCountReconciliation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceContinuityCertificate">
      <soap:operation soapAction="https://www.shafafiya.org/v2/GetInsuranceContinuityCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelInsuranceContinuityCertificate">
      <soap:operation soapAction="https://www.shafafiya.org/v2/CancelInsuranceContinuityCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebservicesSoap12" type="tns:WebservicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadTransaction">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/UploadTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewTransactions">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/GetNewTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTransactionFile">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/DownloadTransactionFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTransactions">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/SearchTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTransactionDownloaded">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/SetTransactionDownloaded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrescriptions">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/GetPrescriptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDRGToEClaim">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/AddDRGToEClaim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckForNewPriorAuthorizationTransactions">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/CheckForNewPriorAuthorizationTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewPriorAuthorizationTransactions">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/GetNewPriorAuthorizationTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDRGDetails">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/GetDRGDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonInsuranceHistory">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/GetPersonInsuranceHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimCountReconciliation">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/GetClaimCountReconciliation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceContinuityCertificate">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/GetInsuranceContinuityCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelInsuranceContinuityCertificate">
      <soap12:operation soapAction="https://www.shafafiya.org/v2/CancelInsuranceContinuityCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Webservices">
    <wsdl:port name="WebservicesSoap" binding="tns:WebservicesSoap">
      <soap:address location="https://shafafiya.doh.gov.ae/v3/webservices.asmx" />
    </wsdl:port>
    <wsdl:port name="WebservicesSoap12" binding="tns:WebservicesSoap12">
      <soap12:address location="https://shafafiya.doh.gov.ae/v3/webservices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>